// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: var(--base-font-size);
  min-height: 100%;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: color .6s, background-color .6s;
 	font-family: var(--serif);
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

a:not(.button) {
	color: inherit;
}

img {
	max-width: 100%;
}

p {
  margin: 0;
  max-width: 36em;

  + p {
    text-indent: 2.4em;
  }
}

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-weight: 600;
  line-height: 1.15;
}


h1 {
  margin-top: 0;
  font-size: 1.802em;
}

blockquote {
  border-left: 4px solid var(--border-color);
  padding: 0 calc(var(--space) / 2);
  color: var(--title-color);
  margin: 2rem 0;
}

ul {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}
ol {
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}

