@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

:root {
  --sans-serif: 'Inter', sans-serif;
  --serif: 'EB Garamond', serif;
}

html {
	--base-font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

body {
 	--bg-color: #fff;
 	--bg-content-color: #fff;
 	--body-color: #111;
 	--title-color: #111;
 	--border-color:  #ddd;
  --space: 2rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}

@media screen and (max-width: 900px) {
	body {
		--space: 1rem;
		--header-height: 60px;
	}
}
