@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --sans-serif: 'Libre Franklin', sans-serif;
  --serif: 'EB Garamond', serif;
}

html {
	--base-font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

body {
 	--bg-color: #fff;
 	--bg-content-color: #fff;
 	--body-color: #111;
 	--title-color: #111;
 	--border-color:  rgba(0,0,0,.1);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}

@media screen and (max-width: 650px) {
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}
