@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --serif: 'Inter', sans-serif;
}

html {
	--base-font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

body {
 	--bg-color: #fff;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: #444;
 	--title-color: #111;
 	--border-color:  rgba(0,0,0,.1);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}

@media screen and (max-width: 650px) {
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}
